@media (max-width: 1100px){
  .logo{
    font-size: 4.5rem;
  }
}
@media (max-width: 1024px){
  .logo{
    font-size: 4rem;
  }
  .card:nth-child(1):hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px green;
  }
  .card:nth-child(2):hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px red;
  }
  .card:nth-child(3):hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px blue;
  }
}

@media (max-width: 930px){
  header{ 
    font-size: 4.8rem;
    letter-spacing: 2px;
    text-align: center;
  }
  .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    margin: 0 auto;
    margin-top: 150px;
  }
  
  .logo-button{
    font-size: 3.8rem;
    text-align: center;
    margin-top: 40px;
  }
}

@media (max-width: 850px){
  .logo-button{
    font-size: 3.6rem;
    text-align: center;
    margin-top: 40px;
    width: 80%;
  }
}

@media (max-width: 800px){
  .logo-button{
    font-size: 3rem;
    
    width: 80%;
  }
}

@media (max-width: 670px){  
  .logo-button{
    font-size: 2.8rem;
    
    width: 80%;
  }
}

@media (max-width: 600px){  
  .logo{
    font-size: 2.8rem;
  }
  .logo-button{
    font-size: 2.2rem;
    width: 80%;
  }
  .card-wrapper{
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    margin: 0 auto;
    margin-top: 150px;
 
  }
  .card{
    margin-top: 20px;
  }
}

@media (max-width: 500px){  
  .logo-button{
    font-size: 1.8rem;
    text-align: center;
    width: 75%;
  }
}

@media (max-width: 430px){  
  header{
    font-size: 3.6rem;
  }
  .logo{
    font-size: 2.4rem;
  }
  
  .logo-button{
    font-size: 1.6rem;
    text-align: center;
    width: 80%;
  }
}

@media (max-width: 320px){
  
  .logo-button{
    font-size: 1.4rem;
  }
  .input-form{
    font-size: 1.8rem;
  }

}
